.forgot {
  height: 100vh !important;
  background: rgba(247, 241, 227, 0.8) !important;
}

.forgotBox {
  border: 1px solid purple !important;
  border-radius: 8px;
}

.Mygradient {
  background: -webkit-linear-gradient(
    0deg,
    rgb(143, 17, 155),
    rgb(250, 66, 66),
    rgb(31, 35, 236)
  ) !important;
  background-clip: content-box;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
