.homeMain,.main {
  height: 90vh !important;
  width: 100vw !important;
}

.main{
  /* background-color: #f7f1e3!important; */
  background: rgba(247, 241, 227, 0.9) !important;

}

.heading{
  font-weight: 400!important;
  color: #353b48;
}

.tag1,
.tag2,
.tag3,
.tag4 {
  opacity: 0;
  transition: all linear 0.3s;
}

.tag4 {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all linear 0.5s;
}

.tag1:hover,
.tag2:hover,
.tag3:hover {
  font-size: 5rem;
}

.tag4:hover {
  text-decoration-color: rgb(223, 71, 89);
}

.tag1 {
  animation: fade-in;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.tag2 {
  animation: fade-in;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.tag3 {
  animation: fade-in;
  animation-duration: 1.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.brand {
  font-weight: bold !important;
}
.whyHead{
  animation: fade-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
.why{
  font-weight: 400!important;
  opacity: 0;
  background: -webkit-linear-gradient(
    90deg,
    rgb(143, 17, 155),
    rgb(250, 66, 66),
    rgb(31, 35, 236)
  ) !important;
  background-clip: content-box;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.bestSellersHead,.stepsHead{
  opacity: 0;
  background: -webkit-linear-gradient(
    90deg,
    rgb(143, 17, 155),
    rgb(250, 66, 66),
    rgb(31, 35, 236)
  ) !important;
  background-clip: content-box;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.stepsContainer{
  background: rgba(247, 241, 227, 0.9) !important;
}